@page "/"

<PageTitle>Shoe Palace</PageTitle>

<h1>Shoe Palace</h1>

<main>
    <div class="cards-list">
        <div class="card">
            <div class="card-img">
                <img src="https://sothebys-com.brightspotcdn.com/a3/39/bb1fe7804de3ab9bbebf36b8ab96/nikeairjordan1retrohighogblacktoe.jpg"
                    alt="jordans">
            </div>

            <h2>Jordan 1s</h2>
            <button>Add to Cart</button>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="https://i.ebayimg.com/images/g/AZQAAOSw4bNjdtH8/s-l1600.png" alt="jordans">
            </div>

            <h2>Yeezy 350</h2>
            <button>Add to Cart</button>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="https://sneakernews.com/wp-content/uploads/2019/05/nike-air-force-1-low-translucent-white-crimson-ci0060-102-4.jpg"
                    alt="jordans">
            </div>

            <h2>Nike Air Force</h2>
            <button>Add to Cart</button>
        </div>
    </div>
</main>
